<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <title>Portfolio 4 Columuns | Unify - Responsive Website Template</title>

  <!-- Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/favicon.ico">

  <!-- Web Fonts -->
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/style.css">

  <!-- CSS Header and Footer -->
  <link rel="stylesheet" href="/assets/css/headers/header-default.css">
  <link rel="stylesheet" href="/assets/css/footers/footer-v1.css">

  <!-- CSS Implementing Plugins -->
  <link rel="stylesheet" href="/assets/plugins/animate.css">
  <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
  <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">

  <!-- CSS Page Style -->
  <link rel="stylesheet" href="/assets/css/pages/portfolio-v1.css">

  <!-- CSS Theme -->
  <link rel="stylesheet" href="/assets/css/theme-colors/default.css" id="style_color">
  <link rel="stylesheet" href="/assets/css/theme-skins/dark.css">

  <!-- CSS Customization -->
  <link rel="stylesheet" href="/assets/css/custom.css">
</head>

<body>
    <!--=== Header ===-->
    
    <!--=== End Header ===-->

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
      <div class="container">
        <h1 class="pull-left">These are the cards you currently own:</h1>
        <ul class="pull-right">
          <a href="/usercards/add" class="btn-u add">Add a card to your collection!</a>
        </ul>
      </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->

    <div ng-app="app">
      <div ng-controller="usercardCtrl">

      
    <div class="container content-sm portfolio-4-columns">
    <% @card_users.each_slice(4) do |cardgroup| %>
      <div class="row">
        <% cardgroup.each do |user_card| %>
          <!-- repeat start -->
          <div class="col-md-3 col-sm-6">
            <div class="bg-light light_grey">
              <h2><%= user_card.card.name %></h2>
            </div>
              <div class="view view-tenth bg-light">
                <%= image_tag user_card.card.image_url, class: "img-responsive", alt: "halp" %>
                <!-- <img class="img-responsive" src="" alt="" /> -->
                <div class="mask">
                  <h2><%= user_card.card.name %></h2>
                  <a href="/cards/<%= user_card.card.id %>" class="info">Read More</a>
                  <div>
                    <h3><b>Price: <%= user_card.card.current_price %></b></h3>
                  </div>
                </div>
                <p>Quantity: <%= user_card.quantity %></p>
              </div>  
          </div>
          <!-- repeat end -->
        <% end %>
      </div>    
      <% end %>
    </div>
    </div>
    </div><!--/container-->
    <!--=== End Content Part ===-->


  <!-- JS Global Compulsory -->
  <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
  <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <!-- JS Implementing Plugins -->
  <script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
  <script type="text/javascript" src="/assets/plugins/smoothScroll.js"></script>
  <!-- JS Customization -->
  <script type="text/javascript" src="/assets/js/custom.js"></script>
  <!-- JS Page Level -->
  <script type="text/javascript" src="/assets/js/app.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/style-switcher.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function() {
      App.init();
      StyleSwitcher.initStyleSwitcher();
    });
  </script>
  <!--[if lt IE 9]>
  <script src="assets/plugins/respond.js"></script>
  <script src="assets/plugins/html5shiv.js"></script>
  <script src="assets/plugins/placeholder-IE-fixes.js"></script>
  <![endif]-->
</body
