<h1>Add a new card to your collection!</h1>

<%= form_tag '/usercards/add', method: :post do %>
  <%= label_tag :multiverse_id %>:
  <%= text_field_tag :multiverse_id %>
  <%= label_tag :quantity %>:
  <%= text_field_tag :quantity %>
  <%= label_tag :desired_sell_price %>:
  <%= text_field_tag :desired_sell_price %>
  <%= label_tag :desired_buy_price %>:
  <%= text_field_tag :desired_buy_price %>
  <div>
    <%= hidden_field_tag :user_id, current_user.id %>
  </div>
  <%= submit_tag "submit" %>
<% end %>
