<div class="container content profile">
  <div class="row">
    <!--Left Sidebar-->
    <div class="col-md-3 md-margin-bottom-40">
      <img class="img-responsive profile-img margin-bottom-20" src="<%= @card.image_url %>" alt="">
      <div class="margin-bottom-50"></div>
    </div>
    <!--End Left Sidebar-->

    <!-- Profile Content -->
    <div class=col-sm-6>
      <div class="funny-boxes funny-boxes-left-green rightmarge">
        <div class=" sm-margin-bottom-20 ">
          <div class="panel-heading-v2 overflow-h">
            <h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i> Card Attributes</h2>
          </div>
          <h2 class="heading-xs">Card Name: <span class="pull-right"><%= @card.name %></span></h3>
          <h3 class="heading-xs">Set Name: <span class="pull-right"><%= @card.set_name %> (<%= @card.set %>)</span></h3>
          <h3 class="heading-xs">Multiverse Id: <span class="pull-right"><%= @card.multiverse_id %></span></h3>
          <hr>
          <h3 class="heading-xs">Current Price: <span class="pull-right">$<%= @card.current_price %></span></h3>
          <h3 class="heading-xs">Growth Rate: <span class="pull-right"><%= @card.clean_growth_rate %> %</span></h3>
          <hr>
          <h3 class="heading-xs">Your desired sell price: <span class="pull-right">$<%= @usercard.desired_sell_price %></span></h3>
          <h3 class="heading-xs">Your desired buy price:  <span class="pull-right">$<%= @usercard.desired_buy_price %></span></h3>
          <hr>
          <a href="/usercards/<%= @card.id %>/edit">Would you like to change your buy or sell price?</a>
        </div>
      </div>

      <div class="funny-boxes funny-boxes-left-orange botmarge rightmarge">
          <h3>1 Month</h3>
          <%= line_chart @month_ago_price.pluck(:created_at, :price), width: "600px", height: "300px"%>
      </div>
      <div class="funny-boxes funny-boxes-left-orange botmarge rightmarge">
        <h3>All Prices</h3>
        <%= line_chart @all_price.pluck(:created_at, :price), width: "600px", height: "300px"%>
      </div>

    </div>
    <!-- End Profile Content -->
  </div><!--/end row-->
</div>
