<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>MTG Fetch</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- CSS Header and Footer -->
    <link rel="stylesheet" href="/assets/css/headers/header-default.css">
    <link rel="stylesheet" href="/assets/css/footers/footer-v1.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/assets/plugins/animate.css">
    <link rel="stylesheet" href="/assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="/assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css">
    <link rel="stylesheet" href="/assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css">

    <!-- CSS Theme -->
    <link rel="stylesheet" href="/assets/css/theme-colors/default.css" id="style_color">
    <link rel="stylesheet" href="/assets/css/theme-skins/dark.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="/assets/css/custom.css">
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
</head>

<body>
    <div class="wrapper">
        <!--=== Header ===-->
        <div class="header">
            <div class="container">
                <!-- Logo -->
                <a class="logo" href="index.html">
                    <!-- <img src="/assets/img/logo1-default.png" alt="Logo"> -->
                    <h1><b>MTG Fetch</b></h1>
                </a>
                <!-- End Logo -->

                <!-- Topbar -->

                <!-- End Topbar -->

                <!-- Toggle get grouped for better mobile display -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <!-- End Toggle -->
            </div><!--/end container-->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                <div class="container">
                    <ul class="nav navbar-nav">

                        <!-- Pages -->
                        <% if current_user %>
                            <li><a href="/usercards/stats">Stats</a></li>
                            <li><a href="/usercards"><%= current_user.name %></a></li>
                            <li class="topbar-devider"></li>
                            <li><a href="/logout">Log out</a></li>
                        <% else %>
                            <li><a href="/login">Login</a></li>
                        <% end %>
                        <!-- End Pages -->
                    </ul>
                </div><!--/end container-->
            </div><!--/navbar-collapse-->
        </div>
        <!--=== End Header ===-->
        <div id="background">
            <%= yield %>
        </div>

        <!--=== Footer Version 1 ===-->
        <div class="footer-v1">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <!-- About -->
                        <div class="col-md-3 md-margin-bottom-40">
                            <h2 class='title'><b>MTG Fetch</b></h2>
                            <p>MTG Fetch is an automated tool for magic the gathering investors. You can view, add and set desired buy and sell prices for Magic The Gathering cards in your collection. This application will track the prices of your cards over time and will send you alerts when the market price reaches your desired sell or buy price.</p>
                            <p></p>
                        </div><!--/col-md-3-->
                        <!-- End About -->

                        <!-- Latest -->
                        <div class="col-md-3 md-margin-bottom-40">
                            <div class="posts">
                                <div class="headline"><h2>What You Can Do Here</h2></div>
                                <ul class="list-unstyled latest-list">
                                    <li>
                                        <a>Manage Your Collection</a>
                                    </li>
                                    <li>
                                        <a>Look at Price Trends</a>
                                    </li>
                                    <li>
                                        <a>Read Your Price Alerts</a>
                                    </li>
                                </ul>
                            </div>
                        </div><!--/col-md-3-->
                        <!-- End Latest -->

                        <!-- Link List -->
                        <div class="col-md-3 md-margin-bottom-40">
                            <div class="headline"><h2>Useful Links</h2></div>
                            <ul class="list-unstyled link-list">
                                <li><a href="https://magicthegathering.io/">MTG Developers</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="https://www.mtgowikiprice.com/api#explanation">WikiPrice</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="http://www.tcgplayer.com/">TCG Player</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="http://magic.wizards.com/en/content/articles">Latest news</a><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div><!--/col-md-3-->
                        <!-- End Link List -->

                        <!-- Address -->
                        <div class="col-md-3 map-img md-margin-bottom-40">
                            <div class="headline"><h2>Contact Us</h2></div>
                            <address class="md-margin-bottom-40">
                                Phone: 708 415 8094 <br />
                                Email: <a href="jjfisher91@gmail.com" class="">jjfisher91@gmail.com</a>
                                <br />
                                <br />
                                <br />
                                <br />
                            </address>
                        </div><!--/col-md-3-->
                        <!-- End Address -->
                    </div>
                </div>
            </div><!--/footer-->

            <div class="copyright">
                <div class="container">
                    <div class="row">
                        <!-- Social Links -->
                        <div class="col-md-6">
                            <ul class="footer-socials list-inline">
                                <li>
                                    <a href="https://www.linkedin.com/in/john-jason-fisher" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/Prof_Programmin" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Social Links -->
                    </div>
                </div>
            </div><!--/copyright-->
        </div>
        <!--=== End Footer Version 1 ===-->
    </div><!--/wrapper-->


    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="/assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="/assets/plugins/back-to-top.js"></script>
    <script type="text/javascript" src="/assets/plugins/smoothScroll.js"></script>
    <script type="text/javascript" src="/assets/plugins/fancybox/source/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="/assets/js/custom.js"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/assets/js/forms/login.js"></script>
    <script type="text/javascript" src="/assets/js/forms/contact.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/fancy-box.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            FancyBox.initFancybox();
            LoginForm.initLoginForm();
            ContactForm.initContactForm();
            StyleSwitcher.initStyleSwitcher();
        });
    </script>
    <!--[if lt IE 9]>
    <script src="/assets/plugins/respond.js"></script>
    <script src="/assets/plugins/html5shiv.js"></script>
    <script src="/assets/plugins/placeholder-IE-fixes.js"></script>
  <![endif]-->
</body>
</html>
